__pycache__/ 
*.pyc 
*.sqlite3 
.env 
.vscode/ 

# TensorFlow logs & checkpoints
model/train_log/
model/*.ckpt*
model/*.pbtxt


2015-*.db 
-e "__pycache__/\n*.pyc\n.vscode/\nmodel/train_log/\nmodel/*.ckpt*\nmodel/*.pbtxt\n" 

nmt-chatbot/
data/